@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <!-- Footer (Optional) -->
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year Phatwell. All rights reserved.</p>
    </footer>