@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.PublishedContent.IPublishedContent>

@{
    Layout = "master.cshtml";

    var pageTitle = Model.Value<string>("titleAbout"); // Dynamic title
    var bodyText = Model.Value<string>("bodyTextAbout"); // Body text
}

<div class="about-section">
    <h1 class="about-title">@pageTitle</h1>
    <div class="about-content">
        @Html.Raw(bodyText)
    </div>
</div>
