@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}


<body>

 
    <!-- Footer (Optional) -->
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year miraShop. All rights reserved.</p>
    </footer>
</body>