@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject IWebHostEnvironment _environment

@{
    Layout = null;
    // The homepage GUID
    var homePageGuid = new Guid("bd303c57-2050-47c2-976f-0f59062b9e48");

    // Now check if the current page GUID is the same as the homepage GUID
    var isHomePage = Umbraco.AssignedContentItem?.Key == homePageGuid;
}

<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Value("title") | Phatwell</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/hero.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/css/aboutPage.css">
    <link rel="stylesheet" href="~/css/pressMedia.css">
    
    <link rel="stylesheet" href="~/css/content-page.css" asp-append-version="true" />

</head>

<body>
    <!-- Header or Hero Section Based on Page Type -->
    @if (isHomePage)
    {
        @await Html.PartialAsync("~/Views/Partials/Header.cshtml")
    }
    else
    {
        @await Html.PartialAsync("~/Views/Partials/Hero.cshtml")
    }

    <!-- Main Content -->
    @RenderBody()

    <!-- Footer -->
    @await Html.PartialAsync("~/Views/Partials/Footer.cshtml")

</body>

</html>
