@{
	Layout = null;
}
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Value("title") | Phatwell</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/content-page.css" asp-append-version="true" />

</head>
<body>
    <!-- Header Section -->
    @await Html.PartialAsync("Partials/Header", Model)
    

    <!-- Main Content Section -->
    <main>
        @await Html.PartialAsync("Partials/Content", Model)
        
    </main>
    @RenderBody()

   @await Html.PartialAsync("Partials/Footer", Model)
</body>
</html>
