@{
	Layout = null;
}
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Value("title") | Phatwell</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <!-- Header Section -->
    @await Html.PartialAsync("Partials/Header", Model)

    <!-- Main Content Section -->
    <main>
        @RenderBody()
    </main>

    <!-- Footer (Optional) -->
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year miraShop. All rights reserved.</p>
    </footer>
</body>
</html>
